<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CitiApps.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
				<key>dateExpires</key>
				<string>26/01/24</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R6345GPK28</string>
						<key>name</key>
						<string>MAVERIC SYSTEMS LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2.3.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AzureCommunicationCalling.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R6345GPK28</string>
						<key>name</key>
						<string>MAVERIC SYSTEMS LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>1</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
								<key>dateExpires</key>
								<string>26/01/24</string>
								<key>type</key>
								<string>Apple Distribution</string>
							</dict>
							<key>name</key>
							<string>AzureCommunicationChat.framework</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>R6345GPK28</string>
								<key>name</key>
								<string>MAVERIC SYSTEMS LIMITED</string>
							</dict>
							<key>versionNumber</key>
							<string>1.1.0</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>1</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
								<key>dateExpires</key>
								<string>26/01/24</string>
								<key>type</key>
								<string>Apple Distribution</string>
							</dict>
							<key>name</key>
							<string>AzureCommunicationChat.framework</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>R6345GPK28</string>
								<key>name</key>
								<string>MAVERIC SYSTEMS LIMITED</string>
							</dict>
							<key>versionNumber</key>
							<string>1.0.0-beta.15</string>
						</dict>
					</array>
					<key>name</key>
					<string>AzureCommunicationChat.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R6345GPK28</string>
						<key>name</key>
						<string>MAVERIC SYSTEMS LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AzureCommunicationCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R6345GPK28</string>
						<key>name</key>
						<string>MAVERIC SYSTEMS LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>1</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
								<key>dateExpires</key>
								<string>26/01/24</string>
								<key>type</key>
								<string>Apple Distribution</string>
							</dict>
							<key>name</key>
							<string>AzureCommunicationUICalling.framework</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>R6345GPK28</string>
								<key>name</key>
								<string>MAVERIC SYSTEMS LIMITED</string>
							</dict>
							<key>versionNumber</key>
							<string>1.0.0</string>
						</dict>
					</array>
					<key>name</key>
					<string>AzureCommunicationUICalling.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R6345GPK28</string>
						<key>name</key>
						<string>MAVERIC SYSTEMS LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AzureCommunicationUIChat.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R6345GPK28</string>
						<key>name</key>
						<string>MAVERIC SYSTEMS LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AzureCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R6345GPK28</string>
						<key>name</key>
						<string>MAVERIC SYSTEMS LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0-beta.15</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R6345GPK28</string>
						<key>name</key>
						<string>MAVERIC SYSTEMS LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MSAL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R6345GPK28</string>
						<key>name</key>
						<string>MAVERIC SYSTEMS LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PIPKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R6345GPK28</string>
						<key>name</key>
						<string>MAVERIC SYSTEMS LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Trouter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R6345GPK28</string>
						<key>name</key>
						<string>MAVERIC SYSTEMS LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R6345GPK28</string>
						<key>name</key>
						<string>MAVERIC SYSTEMS LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R6345GPK28</string>
						<key>name</key>
						<string>MAVERIC SYSTEMS LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3414D6B11BBD2EF4F94C99C06879097D95CAC2AF</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R6345GPK28</string>
						<key>name</key>
						<string>MAVERIC SYSTEMS LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R6345GPK28.com.maveric.citiacsdemo</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:acsdeeplinksa.z13.web.core.windows.net</string>
				</array>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>R6345GPK28</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>CitiApps.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>afed0ba5-bbfd-4a5e-850a-3ca147da1ab8</string>
				<key>dateExpires</key>
				<string>26/01/24</string>
				<key>name</key>
				<string>CitiAdhocACS</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R6345GPK28</string>
				<key>name</key>
				<string>MAVERIC SYSTEMS LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
